body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: #fff;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 90vh;
  display: flex;
  justify-content: center;
  background-color: #5231f7;
  align-items: center;
}
span {
  font-size: 30px;
  color: #333;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-align: center;
}

.telaLogin img {
  width: 100px;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

label {
  color: #080808;
  font-size: 16px;
}
.telaLogin {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  background-color: #fff;
  border-radius: 10px;
  width: 400px;
  justify-content: center;
}

.caixa1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#botao2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#botao2 img {
  width: 20px;
  height: 20px;
}

input {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  border: 0px;
  border: 1px solid #626165;
}

button {
  border-radius: 10px;
  background-color: #fff;
  border: 0px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background-color: #333;
  cursor: pointer;
}

#btnLogin,
#btnSignup {
  background-color: #5231f7;
  color: #fff;
  border: 0px;
  padding: 10px;
}
#btnLogin:hover {
  background-color: #3a1dbf;
}

#btnSignup:hover {
  background-color: #3a1dbf;
}

#botao2:hover {
  cursor: pointer;
  background-color: #3432aa;
}

a {
  text-decoration: none;
  text-align: center;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  body {
    height: 100vh;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5231f7;
  }

  .telaLogin {
    width: 100%;
    max-width: 320px;
    padding: 10px;
    box-sizing: border-box;
  }

  .telaLogin img {
    width: 70px;
  }

  span {
    font-size: 16px;
  }

  input {
    width: 200px;
    font-size: 16px;
  }

  button {
    width: 100%;
    font-size: 16px;
    padding: 10px;
  }

  #botao2 {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  #botao2 img {
    width: 20px;
    height: 20px;
  }
}
