body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: #333;
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
span {
  font-size: 30px;
  color: #333;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  margin-right: 80px;
  border-radius: 10px;
}

.logo {
  display: flex;
  align-items: center;
}
#icones {
  color: #333;
  font-size: 16px;
  margin-right: 10px;
}
.mensagens img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.mensagens {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border-radius: 16px;
}
#pessoa {
  font-size: 18px;
}

.pessoas {
  display: flex;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  gap: 100px;

  /* cor da borda */
}

#agradecimento {
  color: #19191fb3;
  font-size: 14px;
}
#pessoa {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #19191fff;
}
#nome {
  font-size: 24px;
}

.chat1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat3 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat4 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat5 {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
  margin-left: 10px;
}

.menu-chat {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #919192b3;
  border-radius: 16px;
}

.primeiro-chat {
  border: 1px solid #919192b3;
  padding: 20px;
  width: 830px;
  border-radius: 16px;
}

.typing {
  display: flex;
  align-items: center;
  gap: 10px;
}
.melhor-nome {
  display: flex;
  gap: 600px;
  align-items: center;
}

.icone-postura {
  display: flex;
  align-items: center;
  border: 1 px solid #919192b3;
  gap: 10px;
}
.mensagens-chat1 {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
  background: #2067cbff;
  border-radius: 10px;
  padding: 10px;
  margin-left: 600px;
}

.mensagens-chat2 {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: start;
  background-color: #919192b3;
  border-radius: 10px;
  margin-right: 600px;
  padding: 10px;
}

.mensagens-chat3 {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
  background-color: #2067cbff;
  padding: 10px;
  border-radius: 10px;
  margin-left: 490px;
}

.mensagens-chat4 {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: start;
  background-color: #919192b3;
  padding: 10px;
  border-radius: 10px;
  margin-right: 490px;
}

.mensagens-chat5 {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
  justify-content: end;
  background: #2067cbff;
  border-radius: 10px;
  margin-left: 600px;
  padding: 10px;
}

.mensagens-chat1:hover {
  background-color: #919192b3;
  cursor: pointer;
}

.mensagens-chat2:hover {
  background-color: #5231f7;
  cursor: pointer;
}

.mensagens-chat3:hover {
  background-color: #919192b3;
  cursor: pointer;
}

.mensagens-chat4:hover {
  background-color: #5231f7;
  cursor: pointer;
}

.mensagens-chat5:hover {
  background-color: #919192b3;
  cursor: pointer;
}

.mensagens-chat img {
  width: 30px;
  height: 30px;
}

#texto {
  font-size: 16px;
  color: #fff;
  text-align: start;
}

.enviar-mensagem {
  padding: 30px;
}

input {
  width: 600px;
  border: 0px;
  padding: 10px;
  border: 1px solid #919192b3;
  border-radius: 10px;
}
button {
  background-color: #2067cbff;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
button:hover {
  cursor: pointer;
  background-color: #2d39a1;
}
nav a:hover {
  background-color: #5231f7;
}

.chat1 {
  border-radius: 10px;
  padding: 10px;
}
.chat1:hover {
  background: #bebcbc;
  cursor: pointer;
}

.chat2 {
  border-radius: 10px;
  padding: 10px;
}
.chat2:hover {
  background: #bebcbc;
  cursor: pointer;
}

.chat3 {
  border-radius: 10px;
  padding: 10px;
}
.chat3:hover {
  background: #bebcbc;
  cursor: pointer;
}

.chat4 {
  border-radius: 10px;
  padding: 10px;
}
.chat4:hover {
  background: #bebcbc;
  cursor: pointer;
}

.chat5 {
  border-radius: 10px;
}
.chat5:hover {
  background: #bebcbc;
  cursor: pointer;
  padding: 10px;
}

.melhor-nome:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  nav a {
    margin-right: 10px;
    padding: 10px;
    width: 100%;
    text-align: left;
  }

  .pessoas {
    flex-direction: column;
    gap: 20px;
  }

  .primeiro-chat {
    width: 370px;
    padding: 10px;
  }

  input {
    width: 272px;
    font-size: 14px;
  }

  .mensagens-chat1,
  .mensagens-chat2,
  .mensagens-chat3,
  .mensagens-chat4,
  .mensagens-chat5 {
    margin-left: 0px;
    margin-right: 0px;
    width: 270;
    margin-right: 0px;
    padding: 10px;
    margin-bottom: 10px;
  }

  #texto {
    font-size: 14px;
  }

  .melhor-nome {
    gap: 130px;
    margin-bottom: 30px;
    margin-left: 10px;
    display: flex;
    align-items: center;
  }

  .enviar-mensagem {
    padding: 10px;
  }
}
